/* TSOS.css */

body {
  background: #2e2e2e repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: #a7e645;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid #efe180;
}

h2 {
  color: #a7e645;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color: #4d4d4d;
  border: 2px solid #efe180;
  cursor: default;
  color: #00b7ff;
}

.normal_button {
  width: auto;
  color: #ff2e73;
  background-color: #4d4d4d;
  font-weight: 200;
  font-family: Arial;
  font-size: 12pt;
  margin: 5px;
  /*font-weight: bold;*/
}

.footerText {
  color: #a7e645;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#taProgramInput {
  background-color: #4d4d4d;
  border: 2px solid #efe180;
  cursor: default;
}

textarea {
  background-color: #4d4d4d;
  border: 2px solid #efe180;
  color: #a7e645;
}

label {
  color: #a7e645;
  font-family: Arial;
  font-size: 12pt;
  font-weight: bold;
}

#osName {
  color: #00B7FF;
  font-family: Arial;
  font-size: 18pt;
  font-weight: bold;
}

/* Memory Display */
#memoryDisplayWrapper {
  background-color: #4d4d4d;
  border: 2px solid #efe180;
  cursor: default;
  color: #a7e645;
}

table.mem, .mem th, .mem td, .mem tr {
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt;
/*#memoryTable table, th, td, tr {*/
  padding: 12px;
  text-align: center;
  background-color: #4d4d4d;
  border-collapse: collapse;
  border: 1px solid #efe180;
  color: #a7e645;
}

/*table.invoice, .invoice th, .invoice td{*/
  /*border: 1px solid black;*/
/*}*/

#memoryLabel{
  color: #a7e645;
}

/* Ready Queue Display */
/*#pcbReadyQueueTable table, th, td, tr {*/
table.pcb, .pcb th, .pcb td, .pcb tr {
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt;
  padding: 0px;
  background-color: #4d4d4d;
  border-collapse: collapse;
  border: 2px solid #efe180;
  color: #ffa111;
  font-weight: normal;
}

#readyQueueLabel{
  color: #ffa111;
}

/* CPU Display */
/*#tableCpuComponents table, th, td, tr {*/
table.cpu, .cpu th, .cpu td, .cpu tr {
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt;
  padding: 0px;
  background-color: #4d4d4d;
  border-collapse: collapse;
  border: 2px solid #efe180;
  color: #ffa111;
}

#CPUDisplayLabel{
  color: #ffa111;
}

td#tdPC, #tdIR, #tdAccum, #tdXReg, #tdYReg, #tdZFlag{     color: #ffa111;  }

/* File System Display */
#FileSystemLabel{
  color: #ffa111;
}

#fileSystemDisplayWrapper {
  background-color: #4d4d4d;
  border: 2px solid #efe180;
  cursor: default;
  color: #ffa111;
}

/*#fileSystem table, th, td, tr {*/
table.file, .file th, .file td, .file tr {
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt;
  padding: 4px;
  text-align: center;
  background-color: #4d4d4d;
  border-collapse: collapse;
  border: 2px solid #efe180;
  color: #ffa111;
}

/* custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px #333333;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #404040;
  -webkit-box-shadow: inset 0 0 6px #13e4f3;
}

::-webkit-scrollbar-corner {
  background: #404040;

}



/*
light grey #4d4d4d
dark grey #2e2e2e
blue #13e4f3
lime green #13e4f3
pink #ff2e73
orange #ffa111
*/